[Unit]
Description="Run Chromium-Autostart Script"

[Service]
Type=simple
User=pi
ExecStart=/bin/bash /opt/dvc/chromium-autostart.sh

[Install]
WantedBy=multi-user.target
