<div id="navbar">
   

    <% if session[:gruppe_id] == 1%>
        <%= link_to '<i class="bi bi-person-fill" style="color:#000000;font-size:20pt" ></i>'.html_safe ,:controller => "users", :action => "index" %>
        <%= link_to '<i class="bi bi-people-fill" style="color:#000000;font-size:20pt" ></i>'.html_safe ,:controller => "gruppes", :action => "index" %>
    <% end %>
    <%= link_to '<i class="bi bi-pc" style="color:#000000;font-size:20pt" ></i>'.html_safe ,:controller => "computers", :action => "index" %>
    <%= link_to '<i class="bi bi-arrow-up-right-square-fill" style="color:#ff0000;font-size:20pt" ></i>'.html_safe ,:controller => "sessions", :action => "destroy" %>
</div>

